body {
    background-color: #f0e6d2;
    font-family: 'Cinzel', serif;
}

/*relacionado ao site-nav inicio*/
header, .site-nav {
    background-color: #6d4c17;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.site-nav ul li {
    display: inline;
    margin-right: 20px;
}

.site-nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f5deb3;
}

.site-nav ul li a:hover {
    background-color: #c48013;
}
/*relacionado ao site-nav fim*/

#imagem_floresta {
    position: relative;
}

#imagem_floresta img {
    max-width: 100%;
}

.texto-sobre-imagem h1{
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 75px; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
}

.texto-sobre-imagem p {
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 25px; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
}

#info_geral {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: auto;
    max-width: 960px; 
    padding: 20px;
}

#info_geral article {
    text-align: center;
    color: #333;
    padding: 20px;
    margin-bottom: 60px; 
    width: 70%; 
    box-sizing: border-box;
}

footer {
    background-color: #6d4c17;
    color: #f0e6d2;
    padding: 10px;
    text-align: center;
}

/*relacionado ao classes-nav início*/
.classes-nav {
    position: fixed;
    margin-top: 10;
    left: 5;
    background-color: #f5deb3;
    color: #333;
    padding: 10px;
    width: 15%;
    max-height: 300px;
    overflow-y: auto;
    
}

.classes-nav ul li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f5deb3;
    margin-bottom: 10px; 
}

.classes-nav ul li a:hover {
    background-color: #e0cba3;
}
/*relacionado ao classes-nav fim*/

/*relacionado ao raças-nav início*/
.racas-nav {
    position: fixed;
    margin-top: 10;
    left: 5;
    background-color: #f5deb3;
    color: #333;
    padding: 10px;
    width: 15%;
}

.racas-nav ul li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f5deb3;
    margin-bottom: 10px; 
}

.racas-nav ul li a:hover {
    background-color: #e0cba3;
}
/*relacionado ao raças-nav fim*/

/*relacionado ao classes-main*/
.classes-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 220px; 
    padding: 20px;
    position: relative;
}

.classes-main .overlay-image {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1; 
    transition: opacity 0.3s ease;
}
.classes-main section:hover .overlay-image {
    opacity: 0;
}

.classes-main section {
    position: relative;
    width: calc(49% - 20px);
    margin-bottom: 20px; 
    text-align: center;
    padding: 10px; 
    background-color: #f5deb3; 
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
}


.conteudo-classe:hover{
    opacity: 1;
}

.conteudo-classe{
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.classes-main section p {
    padding: 10px; 
    border-radius: 5px; 
}
/*relacionado ao classes-main fim*/

/*relacionado ao raças-main inicio*/

.racas-main {
    margin-left: 220px; 
    padding: 20px;
}

.raca_section{
    display: flex;
    flex-direction: column;
    background-color: #f5deb3;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

.raca_section h3 {
    margin-bottom: 20px;
}

.sub-racas-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.descricao_sub-raca1,
.descricao_sub-raca2 {
    flex: 1;
    max-width: 45%;
}

#orc ol {
    margin: 0 auto;
    width: fit-content; 
    text-align: left; 
}

/*relacionado ao raças-main fim*/

.regras-main {
    padding: 20px;
    margin: 5%;
}

.regras-main section {
    margin-bottom: 20px;
    width: 90%;
    background-color: #f5deb3;
    padding: 10px;
    border-radius: 10px;
}

.regras-main section p {
    text-align: justify;
}

.regras-main h2 {
    margin-top: 0;
    text-align: center;
}

#buscador {
    margin-bottom: 20px;
}

#search-input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#buscador button {
    padding: 5px 10px;
    background-color: #6d4c17;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    background-color: #f0e6d2;
}

th {
    background-color: #f0e6d2;
}

/*Relacionado ao ficha-main inicio*/
.ficha-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Estilização para a seção da ficha do personagem */
#ficha_personagem {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#ficha_personagem h1{
    text-align: center;
    margin-bottom: 35px;
}

.imagem-ficha {
    width: 300px; 
    height: 300px;
    border: 1px solid #ccc;
    cursor: pointer; 
}

.botao-selecao {
    display: block;
    width: 300px; 
    height: 300px; 
    text-align: center;
    line-height: 200px; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    cursor: pointer; 
}
input[type="file"] {
    display: none;
}

.parte-superior {
    display: flex;
}

.cabeçalho {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.cabeçalho div {
    margin-bottom: 20px;
}

.status {
    margin-left: 50px;
    
    flex-direction: column;
}

.status div {
    margin-bottom: 20px;
}


.atributos-do-personagem {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
}

.parte-inferior {
    display: grid; 
    grid-gap: 10px; 
}

button[type="submit"] {
    padding: 10px 30px;
    font-size: 16px; 
    background-color: #6d4c17;
    color: #fff; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}


button[type="submit"]:hover {
    background-color: #000; 
}